.contactContainer {
    margin: 0 20%;
    margin-top: 20vh;
    margin-bottom: 100px;
    width: 60%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px 5% 40px 5%;
    border-radius: 10px;
    background: white;
}

.contactContainer h1 {
    text-align: center;
}

.contactContainer h2 {
    text-align: center;
}

.contact-organizator {
    margin: 30px 50px 20px 50px;
}

@media (max-width: 768px) {
    .contactContainer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        box-sizing: border-box;
    }

    .contact-organizator {
        margin: 10% 0;
    }
}