.footer {
    background-color: #222; /* Fundal întunecat */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  