.slider {
    text-align: center;
    padding: 0px 20px 20px 20px;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .slider-image {
    width: 80%;
    max-width: 1000px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .slider button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slide-left {
    position: absolute;
    left: 5%;
  }
  
  .slide-right {
    position: absolute;
    right: 5%;
  }
  
  .slider p {
    text-align: center;
    margin: 3% 20%;
    font-size: 1.1rem;
  }

  .slider h1 {
    font-size: 2.5rem;
    color: #333;
  }

  @media (max-width: 768px) {

    .slider-container {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .slider {
      padding: 0;
    }

    .slide-left, .slide-right {
      display: none;
    }

    .slider-container img {
      width: 100%;
      border-radius: 0;
    }

    .slider h1 {
      font-size: 1.5rem;
    }

    .slider p {
      width: 80%;
      padding: 0;
      margin: 10%;
    }
  }